.DS_Store
.eclipse
.vscode
.g8
.gradle
.settings
.project
bin
dist
lib
logs
tmp
node_modules
project/project
project/target
public/javascripts/build.js
serverless
target
.cache
cacerts
config.local.sample.json
config.local.json
docker-compose.yaml
Dockerfile
Dockerfile.openjdk-sbt
test-result
server.pid
