.DS_Store
.eclipse
.g8
/lib/
/logs/
/target
bin/
tmp/
/node_modules
/project/project
/project/target
/dist/
.cache
conf/secrets.sample.conf
conf/secrets.conf
conf/config.local.sample.json
conf/config.local.json
public/javascripts/build.js
vscode
.gradle/
.settings/
.project
package-lock.json
test-result
server.pid
Dockerfile
