<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Postal</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i">
        <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/postal.css")">
        <link rel="shortcut icon" href="//cdn.quatrolabs.com/favicon.ico">
    </head>
    <body>
      <div class="landing authenticate" role="main">
        <header class="top-header">
          <div class="top-of-all">
            <div class="top-sibling landing-branding">
              <div class="branding-square">
                <h1>Postal</h1>
              </div>
            </div>
            <div class="top-sibling landing-presentation">
              Postal is a security- and privacy-first mail service application.<br />
              But... your not authenticated<br />
            </div>
          </div>
        </header>
        <div class="landing-menu" role="menubar">
          <ul class="landing-menu-list" role="menu">
            <li role="menuitem">Please, <a href="/signin">authenticate through space</a></li>
          </ul>
        </div>
        <div class="authenticate-box">
          <img width="60%" src="/assets/images/undraw_authentication-illustration.svg" />
        </div>
        <div class="landing-footer">
          <p>Postal is part of the <a href="//quatrolabs.com" target="_blank">quatroLABS</a> projects. Copyright &copy; 2016-present</p>
        </div>
      </div>
    </body>
</html>
